/*---------------------------------------------------------------------------------- */
/*------------------------------RESET DEFAULT STYLES-------------------------------- */
/*---------------------------------------------------------------------------------- */
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font: 14px/24px PlayfairDisplayRegular, sans-serif;
  background: #fff;
  color: #626262;
}

div, menu, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, legend, label, select, input, textarea {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
}

button {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  cursor: pointer;
}

select, input, textarea, button {
  font: 14px/24px PlayfairDisplayRegular, sans-serif;
  vertical-align: middle;
}

textarea {
  vertical-align: top;
}

:focus {
  outline: none;
}

input[type=submit] {
  cursor: pointer;
}

img, fieldset {
  border: 0;
}

img {
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  transition: all 0.5s ease;
  text-decoration: none;
  cursor: pointer;
}
a:link, a:visited {
  font: 14px/24px PlayfairDisplayRegular, sans-serif;
  color: #000;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

::-webkit-input-placeholder {
  font: 14px/24px PlayfairDisplay, serif;
  color: #282828;
}

::-moz-placeholder {
  color: #282828;
  font: 14px/24px PlayfairDisplay, serif;
}

/*---------------------------------------------------------------------------------- */
/*-------------------------------------DEFAULT CLASSES------------------------------ */
/*---------------------------------------------------------------------------------- */
.float-r {
  float: right !important;
}

.float-l {
  float: left !important;
}

.no-float {
  float: none !important;
}

.no-border {
  border: 0 !important;
}

.no-bg {
  background: none !important;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-display {
  display: none !important;
}

.display {
  display: block !important;
}

.inline {
  display: inline !important;
}

.overflow {
  overflow: hidden !important;
}

.align-r {
  text-align: right !important;
}

.align-l {
  text-align: left !important;
}

.align-c {
  text-align: center !important;
}

.clear {
  clear: both;
}

.clearfix {
  display: inline-block;
  width: 100%;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
}

*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #fff;
}

.wrapper {
  min-height: calc(100% - 400px);
}

.container {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.colored-background {
  background-color: #2c1a59;
  position: relative;
}
.colored-background:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.15;
}

.main-footer {
  padding: 70px 0;
  height: 400px;
}
.main-footer:before {
  background: url("../../images/footer-bg.png") 50% 0 no-repeat;
  background-size: cover;
}
.main-footer .top-footer {
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.main-footer .bottom-footer {
  display: flex;
  justify-content: space-between;
}

.logo, .our-studio, .stay-in-touch {
  width: 320px;
}
