/*---------------------------------------------------------------------------------- */
/*------------------------------RESET DEFAULT STYLES-------------------------------- */
/*---------------------------------------------------------------------------------- */
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font: 14px/24px PlayfairDisplayRegular, sans-serif;
  background: #fff;
  color: #fff;
}

div, menu, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, legend, label, select, input, textarea {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
}

button {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  cursor: pointer;
}

select, input, textarea, button {
  font: 14px/24px PlayfairDisplayRegular, sans-serif;
  vertical-align: middle;
}

textarea {
  vertical-align: top;
}

:focus {
  outline: none;
}

input[type=submit] {
  cursor: pointer;
}

img, fieldset {
  border: 0;
}

img {
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  transition: all 0.5s ease;
  text-decoration: none;
  cursor: pointer;
}
a:link, a:visited {
  color: #fff;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

::-webkit-input-placeholder {
  font: 14px/24px PlayfairDisplay, serif;
  color: #282828;
}

::-moz-placeholder {
  color: #282828;
  font: 14px/24px PlayfairDisplay, serif;
}

/*---------------------------------------------------------------------------------- */
/*-------------------------------------DEFAULT CLASSES------------------------------ */
/*---------------------------------------------------------------------------------- */
.float-r {
  float: right !important;
}

.float-l {
  float: left !important;
}

.no-float {
  float: none !important;
}

.no-border {
  border: 0 !important;
}

.no-bg {
  background: none !important;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-display {
  display: none !important;
}

.display {
  display: block !important;
}

.inline {
  display: inline !important;
}

.overflow {
  overflow: hidden !important;
}

.align-r {
  text-align: right !important;
}

.align-l {
  text-align: left !important;
}

.align-c {
  text-align: center !important;
}

.clear {
  clear: both;
}

.clearfix {
  display: inline-block;
  width: 100%;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "PlayfairDisplayRegular";
  src: url("../../../fonts/PlayfairDisplay-Regular.ttf");
}
@font-face {
  font-family: "PlayfairDisplayBlack";
  src: url("../../../fonts/PlayfairDisplay-Black.ttf");
}
@font-face {
  font-family: "PlayfairDisplayBold";
  src: url("../../../fonts/PlayfairDisplay-Bold.ttf");
}
@font-face {
  font-family: "RobotoBlack";
  src: url("../../../fonts/Roboto-Black.ttf");
}
@font-face {
  font-family: "RobotoLight";
  src: url("../../../fonts/Roboto-Light.ttf");
}
@font-face {
  font-family: "HammersmithOne";
  src: url("../../../fonts/HammersmithOne-regular.ttf");
}
@font-face {
  font-family: "FontAwesome";
  src: url("../../../fonts/fontawesome.otf");
}
.white-section p {
  color: #817f86;
}
.white-section header h2 {
  padding-bottom: 5px;
  color: #413d4b;
}
.white-section header p {
  margin-bottom: 10px;
  color: #817f86;
}

h2 {
  text-transform: uppercase;
  font: 22px "PlayfairDisplayBold", sans-serif;
  padding-bottom: 20px;
}

p {
  font: 14px/24px "RobotoLight", sans-serif;
}

.wrapper {
  min-height: calc(100% - 400px);
}

.container {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  height: 100%;
}

section {
  padding: 60px 10px;
}

header {
  padding-bottom: 60px;
}

.vertical-line:after {
  margin: 10px auto;
  display: block;
  content: "";
  width: 50px;
  height: 2px;
  background-color: #c6c4c9;
}

button {
  margin: 20px 0;
  transition: all 0.5s ease;
  font: 16px "HammersmithOne", sans-serif;
  background: none;
  text-transform: uppercase;
  color: #00e0d0;
  padding: 15px;
  border: 1px solid #00e0d0;
}
button:hover {
  background: #00e0d0;
  color: inherit;
}

.colored-background:before {
  background: #2c1a59;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.85;
  z-index: -1;
}

.welcome-section {
  height: 100vh;
  background: url("../../images/welcome-bg.png") 50% 50% no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding: 15px 10px;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.top-header img {
  height: 50px;
  width: 140px;
}
.top-header h1 {
  display: inline-block;
  text-indent: -9999px;
}

.header-nav {
  text-transform: uppercase;
  font: 13px "Roboto Black", sans-serif;
}
.header-nav ul {
  display: flex;
}
.header-nav ul li {
  margin-right: 15px;
}
.header-nav .active {
  color: #00e0d0;
}

.welcome-info-center {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.welcome-info-center .welcome-info h2 {
  font: 32px "PlayfairDisplayBlack", sans-serif;
}
.welcome-info-center .welcome-info p {
  max-width: 780px;
  margin-bottom: 50px;
}
.welcome-info-center .vertical-line:after {
  margin: 30px auto 10px;
  background: #00e0d0;
}

.our-story-section header {
  padding-bottom: 20px;
}
.our-story-section .container {
  justify-content: center;
  display: flex;
}
.our-story-section .our-story-text {
  margin-left: 100px;
  text-align: left;
}
.our-story-section img {
  width: 230px;
  height: 230px;
}
.our-story-section p {
  margin-bottom: 10px;
}

.video-section {
  height: 100vh;
  background: url("../../images/our-story-bg.png") 50% 50% no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.video-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.video-section p {
  font-size: 120px;
  -webkit-text-stroke: 2px white;
  margin-bottom: 35px;
}
.video-section h3 {
  text-transform: uppercase;
  font: 16px "RobotoBlack", sans-serif;
}

.expertise-section .expertise-list {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.expertise-section .expertise-list img {
  padding-bottom: 30px;
}
.expertise-section .expertise-list li {
  padding-top: 70px;
  width: 350px;
  margin-bottom: 60px;
  position: relative;
}
.expertise-section .expertise-list li:before {
  content: "";
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
}
.expertise-section .expertise-list p {
  text-align: center;
  padding: 0 50px;
}
.expertise-section .expertise-list h3 {
  font: 14px "RobotoBlack", sans-serif;
  text-transform: uppercase;
  color: #413d4b;
  padding-bottom: 20px;
}

.web-disign:before {
  background: url("../../images/web-design.png") no-repeat;
}

.branding-identity:before {
  background: url("../../images/branding-identity.png") no-repeat;
}

.mobile-app:before {
  background: url("../../images/mobile-app.png") no-repeat;
}

.search-optimization:before {
  background: url("../../images/search-optimization.png") no-repeat;
}

.game-development:before {
  background: url("../../images/game-development.png") no-repeat;
}

.with-love:before {
  background: url("../../images/with-love.png") no-repeat;
}

.team-section {
  background: url("../../images/team-bg.png") 50% 50% no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.team-list {
  margin-bottom: 70px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.team-list li {
  width: 240px;
  padding: 0 10px;
}
.team-list .img-wrap {
  width: 220px;
  height: 226px;
}

.team-member {
  border: 1px solid #7e7993;
}
.team-member h3 {
  font: 13px "RobotoBlack", sans-serif;
  margin: 10px;
}
.team-member p {
  font: 13px "RobotoLight", sans-serif;
  margin-bottom: 10px;
}

.our-works-section .our-works-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
.our-works-section h2, .our-works-section a {
  color: #413d4b;
}
.our-works-section a {
  font: 14px "RobotoLight", sans-serif;
}
.our-works-section a i {
  margin-left: 10px;
  font-size: 18px;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
}

.main-footer {
  padding: 70px 0;
  height: 400px;
  background: url("../../images/footer-bg.png") 50% 50% no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.main-footer .top-footer {
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.main-footer .bottom-footer {
  display: flex;
  justify-content: space-between;
}

.logo, .our-studio, .stay-in-touch {
  width: 320px;
}
