@charset "UTF-8";
/*---------------------------------------------------------------------------------- */
/*------------------------------RESET DEFAULT STYLES-------------------------------- */
/*---------------------------------------------------------------------------------- */
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font: 16px/26px PlayfairDisplayRegular, sans-serif;
  background: #fff;
  color: #fff;
}

div, menu, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, legend, label, select, input, textarea {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
}

button {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;
  cursor: pointer;
}

select, input, textarea, button {
  font: 14px/24px PlayfairDisplayRegular, sans-serif;
  vertical-align: middle;
}

textarea {
  vertical-align: top;
}

:focus {
  outline: none;
}

input[type=submit] {
  cursor: pointer;
}

img, fieldset {
  border: 0;
}

img {
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  transition: all 0.5s ease;
  text-decoration: none;
  cursor: pointer;
}
a:link, a:visited {
  color: #fff;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

::-webkit-input-placeholder {
  font: 14px "RobotoLight", sans-serif;
  color: #a09ea5;
}

::-moz-placeholder {
  color: #a09ea5;
  font: 14px "RobotoLight", sans-serif;
}

/*---------------------------------------------------------------------------------- */
/*-------------------------------------DEFAULT CLASSES------------------------------ */
/*---------------------------------------------------------------------------------- */
.float-r {
  float: right !important;
}

.float-l {
  float: left !important;
}

.no-float {
  float: none !important;
}

.no-border {
  border: 0 !important;
}

.no-bg {
  background: none !important;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-display {
  display: none !important;
}

.display {
  display: block !important;
}

.inline {
  display: inline !important;
}

.overflow {
  overflow: hidden !important;
}

.align-r {
  text-align: right !important;
}

.align-l {
  text-align: left !important;
}

.align-c {
  text-align: center !important;
}

.clear {
  clear: both;
}

.clearfix {
  display: inline-block;
  width: 100%;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "PlayfairDisplayRegular";
  src: url('../../fonts/PlayfairDisplayRegular/PlayfairDisplay-Regular.eot?1509656640');
  src: url('../../fonts/PlayfairDisplayRegular/PlayfairDisplay-Regular.eot?&1509656640#iefix') format('embedded-opentype'), url('../../fonts/PlayfairDisplayRegular/PlayfairDisplay-Regular.woff?1509656677') format('woff'), url('../../fonts/PlayfairDisplayRegular/PlayfairDisplay-Regular.ttf?1509656660') format('truetype');
}
@font-face {
  font-family: "PlayfairDisplayBlack";
  src: url('../../fonts/PlayfairDisplayBlack/PlayfairDisplay-Black.eot?1509656640');
  src: url('../../fonts/PlayfairDisplayBlack/PlayfairDisplay-Black.eot?&1509656640#iefix') format('embedded-opentype'), url('../../fonts/PlayfairDisplayBlack/PlayfairDisplay-Black.woff?1509656677') format('woff'), url('../../fonts/PlayfairDisplayBlack/PlayfairDisplay-Black.ttf?1509656660') format('truetype');
}
@font-face {
  font-family: "PlayfairDisplayBold";
  src: url('../../fonts/PlayfairDisplayBold/PlayfairDisplay-Bold.eot?1509656640');
  src: url('../../fonts/PlayfairDisplayBold/PlayfairDisplay-Bold.eot?&1509656640#iefix') format('embedded-opentype'), url('../../fonts/PlayfairDisplayBold/PlayfairDisplay-Bold.woff?1509656677') format('woff'), url('../../fonts/PlayfairDisplayBold/PlayfairDisplay-Bold.ttf?1509656660') format('truetype');
}
@font-face {
  font-family: "RobotoBlack";
  src: url('../../fonts/RobotoBlack/Roboto-Black.eot?1509716392');
  src: url('../../fonts/RobotoBlack/Roboto-Black.eot?&1509716392#iefix') format('embedded-opentype'), url('../../fonts/RobotoBlack/Roboto-Black.woff?1509716392') format('woff'), url('../../fonts/RobotoBlack/Roboto-Black.ttf?1509716392') format('truetype');
}
@font-face {
  font-family: "RobotoLight";
  src: url('../../fonts/RobotoLight/Roboto-Light.eot?1509716286');
  src: url('../../fonts/RobotoLight/Roboto-Light.eot?&1509716286#iefix') format('embedded-opentype'), url('../../fonts/RobotoLight/Roboto-Light.woff?1509716286') format('woff'), url('../../fonts/RobotoLight/Roboto-Light.ttf?1509716286') format('truetype');
}
@font-face {
  font-family: "RobotoRegular";
  src: url('../../fonts/RobotoRegular/Roboto-Regular.eot?1489731780');
  src: url('../../fonts/RobotoRegular/Roboto-Regular.eot?&1489731780#iefix') format('embedded-opentype'), url('../../fonts/RobotoRegular/Roboto-Regular.woff?1489731780') format('woff'), url('../../fonts/RobotoRegular/Roboto-Regular.ttf?1489731780') format('truetype');
}
@font-face {
  font-family: "HammersmithOne";
  src: url('../../fonts/HammersmithOneRegular/HammersmithOne-Regular.ttf?1509464875') format('truetype');
}
@font-face {
  font-family: "FontAwesome";
  src: url('../../fonts/FontAwesome/fontAwesome-webfont.eot?1506890980');
  src: url('../../fonts/FontAwesome/fontAwesome-webfont.eot?&1506890980#iefix') format('embedded-opentype'), url('../../fonts/FontAwesome/fontawesome-webfont.svg?1506890980') format('svg'), url('../../fonts/FontAwesome/fontawesome-webfont.woff?1506890980') format('woff'), url('../../fonts/FontAwesome/FontAwesome.otf?1506890980') format('opentype');
}
.white-section h2 {
  color: #413d4b;
}
.white-section p {
  color: #817f86;
}
.white-section header h2 {
  color: #413d4b;
}
.white-section header p {
  margin-bottom: 10px;
  color: #817f86;
}

h2 {
  text-transform: uppercase;
  font: 22px "PlayfairDisplayBold", sans-serif;
  padding-bottom: 10px;
}

p {
  font: 14px/24px "RobotoLight", sans-serif;
}

.wrapper {
  min-height: calc(100% - 400px);
}

.container {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  height: 100%;
}

section {
  padding: 60px 0;
}

header {
  padding-bottom: 60px;
}

.vertical-line:after {
  margin: 15px auto;
  display: block;
  content: "";
  width: 50px;
  height: 2px;
  background-color: #655c80;
}

button {
  margin: 20px 0;
  transition: all 0.5s ease;
  font: 16px "HammersmithOne", sans-serif;
  background: none;
  text-transform: uppercase;
  color: #00e0d0;
  padding: 10px 20px;
  border: 1px solid #00e0d0;
}
button:hover {
  background: #00e0d0;
  color: inherit;
}

.colored-background:before {
  background: #2c1a59;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.85;
  z-index: -1;
}

.welcome-section {
  height: 100vh;
  background: url("../../images/welcome-bg.png") 50% 50% no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding: 15px 10px;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.top-header img {
  height: 50px;
  width: 140px;
}
.top-header h1 {
  display: inline-block;
  text-indent: -9999px;
}

.header-nav {
  text-transform: uppercase;
  font: 13px "Roboto Black", sans-serif;
}
.header-nav ul {
  display: flex;
}
.header-nav ul li {
  margin-right: 15px;
}
.header-nav .active {
  color: #00e0d0;
}

.welcome-info-center {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.welcome-info-center .welcome-info h2 {
  text-transform: capitalize;
  font: 32px "PlayfairDisplayBlack", sans-serif;
}
.welcome-info-center .welcome-info p {
  max-width: 780px;
  margin-bottom: 30px;
}
.welcome-info-center .vertical-line:after {
  margin: 30px auto 10px;
  background: #00e0d0;
}

.our-story-section header {
  padding-bottom: 20px;
}
.our-story-section .container {
  justify-content: center;
  display: flex;
}
.our-story-section .our-story-text {
  margin-left: 100px;
  text-align: left;
}
.our-story-section img {
  width: 230px;
  height: 230px;
}
.our-story-section p {
  margin-bottom: 10px;
}

.video-section {
  height: 100vh;
  background: url("../../images/our-story-bg.png") 50% 50% no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.video-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.video-section p {
  font-size: 120px;
  margin-bottom: 35px;
}
.video-section h3 {
  text-transform: uppercase;
  font: 16px "RobotoBlack", sans-serif;
}

.expertise-section .expertise-list {
  text-align: center;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
.expertise-section .expertise-list li {
  width: calc(100% / 3);
  padding-bottom: 30px;
  border-top: 1px #ebebeb solid;
  border-right: 1px #ebebeb solid;
}
.expertise-section .expertise-list li:before {
  content: "";
  display: block;
  margin: 30px auto;
  width: 50px;
  height: 50px;
}
.expertise-section .expertise-list li:nth-child(-n+3) {
  border-top: none;
}
.expertise-section .expertise-list li:nth-child(3n) {
  border-right: none;
}
.expertise-section .expertise-list li:last-child {
  border-right: none;
}
.expertise-section .expertise-list p {
  text-align: center;
  padding: 0 50px;
}
.expertise-section .expertise-list h3 {
  font: 14px "RobotoBlack", sans-serif;
  text-transform: uppercase;
  color: #413d4b;
  padding-bottom: 20px;
}

.web-design:before {
  background: url("../../images/web-design.png") no-repeat;
}

.branding-identity:before {
  background: url("../../images/branding-identity.png") no-repeat;
}

.mobile-app:before {
  background: url("../../images/mobile-app.png") no-repeat;
}

.search-optimization:before {
  background: url("../../images/search-optimization.png") no-repeat;
}

.game-development:before {
  background: url("../../images/game-development.png") no-repeat;
}

.with-love:before {
  background: url("../../images/with-love.png") no-repeat;
}

.team-section {
  background: url("../../images/team-bg.png") 50% 50% no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.team-list {
  margin-bottom: 70px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
}
.team-list li {
  width: 240px;
  padding: 0 10px;
}
.team-list .img-wrap {
  width: 220px;
  height: 226px;
}

.team-member {
  border: 1px solid #817f86;
}
.team-member h3 {
  font: 13px "RobotoBlack", sans-serif;
  margin: 12px;
}
.team-member p {
  font: 13px "RobotoLight", sans-serif;
  margin-bottom: 12px;
  color: #817f86;
}

.our-works-section .our-works-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
.our-works-section h2, .our-works-section a {
  color: #413d4b;
}
.our-works-section a {
  font: 14px "RobotoLight", sans-serif;
}
.our-works-section a i {
  margin-left: 10px;
  font-size: 18px;
}
.our-works-section button {
  display: block;
  margin: 0 auto;
}

.works-list {
  margin-bottom: 70px;
  display: flex;
  flex-wrap: wrap;
}
.works-list li {
  flex-grow: 1;
}
.works-list li img {
  height: 200px;
  width: 100%;
}

.feedback-section {
  height: 100vh;
  background: url("../../images/testimonials-bg.png") 50% 50% no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.feedback-section .container {
  display: flex;
  align-items: center;
}
.feedback-section blockquote {
  margin: 0 80px;
  color: #fff;
}
.feedback-section blockquote:before {
  content: "“";
  font-family: Georgia, serif;
  font-size: 90px;
  margin-bottom: 70px;
}
.feedback-section blockquote p {
  color: #e9e8eb;
  font: 16px/26px "PlayfairDisplayRegular", sans-serif;
  margin-bottom: 50px;
}
.feedback-section blockquote h3 {
  text-transform: uppercase;
  font: 14px/22px "RobotoBlack", sans-serif;
}
.feedback-section blockquote span {
  color: #e9e8eb;
  text-transform: uppercase;
  font: 13px "RobotoLight", sans-serif;
}

.form-brands-section h2 {
  margin-bottom: 30px;
}
.form-brands-section .container {
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.form-brands-section form {
  min-width: 500px;
  display: flex;
  flex-direction: column;
}
.form-brands-section form input, .form-brands-section form textarea {
  padding: 15px;
  resize: none;
  border: 1px solid #e5e5e5;
  margin-bottom: 20px;
}
.form-brands-section form button {
  width: 130px;
}
.form-brands-section .brands {
  margin-left: 100px;
  min-width: 450px;
}

.brand-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.brand-list li {
  min-width: 200px;
  margin-bottom: 60px;
}

.main-footer {
  padding: 70px 0;
  height: 400px;
  background: url("../../images/footer-bg.png") 50% 50% no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.main-footer .logo p {
  padding-right: 40px;
}
.main-footer .logo img {
  margin-bottom: 34px;
}
.main-footer .our-studio h3, .main-footer .stay-in-touch h3 {
  margin-bottom: 40px;
}
.main-footer h3 {
  padding-top: 15px;
  text-transform: uppercase;
  font: 15px/26px "RobotoBlack", sans-serif;
}
.main-footer .top-footer {
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.main-footer form {
  margin-bottom: 25px;
}
.main-footer form input {
  color: #fff;
  border: 1px solid #817f86;
  background: inherit;
  height: 40px;
  padding: 10px;
  width: 210px;
  margin-right: 10px;
}
.main-footer form input[type=submit] {
  font-family: "FontAwesome", serif;
  border: none;
  background: url(../../images/submit-icon.png) rgba(255, 255, 255, 0.5) no-repeat 50% 50%;
  width: 70px;
  transition: all 0.5s ease;
}
.main-footer form input[type=submit]:hover {
  background: url(../../images/submit-icon.png) #00e0d0 no-repeat 50% 50%;
}
.main-footer .bottom-footer {
  display: flex;
  justify-content: space-between;
}

.our-studio p {
  margin: 10px 30px;
  position: relative;
}
.our-studio p:before {
  font-size: 20px;
  top: 0;
  left: -30px;
  position: absolute;
  font-family: FontAwesome, serif;
  content: "";
}
.our-studio .tel p:before {
  content: "";
}

.social {
  display: flex;
}
.social li {
  margin-right: 5px;
}
.social li:last-child {
  margin-right: 0;
}
.social .fa {
  padding-top: 8px;
  font-size: 16px;
  text-align: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #eeeeee;
  transition: all 0.5s ease;
}
.social .fa:hover {
  background: #00ada1;
}

.logo, .our-studio, .stay-in-touch {
  width: 320px;
  margin-bottom: 70px;
}

.bottom-footer p {
  font: 14px/26px "RobotoRegular", sans-serif;
}
.bottom-footer ul {
  display: flex;
}
.bottom-footer ul li {
  font: 14px/26px "RobotoRegular", sans-serif;
  text-transform: uppercase;
  margin-right: 35px;
}
.bottom-footer ul li:last-child {
  margin-right: 0;
}
