@font-face {
  font-family: "PlayfairDisplayRegular";
  src: url("../../../fonts/PlayfairDisplay-Regular.ttf"); }

@font-face {
  font-family: "PlayfairDisplayBlack";
  src: url("../../../fonts/PlayfairDisplay-Black.ttf"); }

@font-face {
  font-family: "PlayfairDisplayBold";
  src: url("../../../fonts/PlayfairDisplay-Bold.ttf"); }

@font-face {
  font-family: "RobotoBlack";
  src: url("../../../fonts/Roboto-Black.ttf"); }

@font-face {
  font-family: "RobotoLight";
  src: url("../../../fonts/Roboto-Light.ttf"); }

@font-face {
  font-family: "HammersmithOne";
  src: url("../../../fonts/HammersmithOne-regular.ttf"); }
