.team-section
  background: image-url("team-bg.png") no-repeat
  background-position: center
  +background-size(cover)
  position: relative
  z-index: 1
.team-list
  margin-bottom: 70px
  text-transform: uppercase
  +display-flex
  +justify-content(center)
  +flex-wrap(wrap)
  li
    //width: 240px
    padding: 10px
  .img-wrap
    width: 220px
    height: 226px
.team-member
  border: 1px solid $gray
  h3
    font: 13px "RobotoBlack", sans-serif
    margin: 12px
  p
    font: 13px "RobotoLight", sans-serif
    margin-bottom: 12px
    color: $gray