.video-section
  @extend %fool-height
  background: image-url("our-story-bg.png") no-repeat
  background-position: center
  +background-size(cover)
  .container
    +display-flex
    +flex-direction(column)
    +justify-content(center)
  i
    font-size: 120px
    margin-bottom: 35px
  p
    text-transform: uppercase
    font: 16px "RobotoBlack", sans-serif