@import "compass/css3"
@import "base/reset"

@import "base/variables"
@import "base/mixins"
@import "base/fonts"
@import "layout/header"

@import "layout/sections/welcome"


$bg-color: #2c1a59

body
  color: #fff
.wrapper
  min-height: calc(100% - 400px)
.container
  max-width: 960px
  margin: 0 auto
  text-align: center
  height: 100%
a
  transition: all 0.5s ease
  text-decoration: none
  cursor: pointer
  &:link, &:visited
    font: 14px/24px PlayfairDisplayRegular, sans-serif
    color: #000
    text-decoration: underline
  &:hover
    text-decoration: none
section
  padding: 15px 10px


.colored-background
  background-color: $bg-color
  position: relative
  &:before
    content: ""
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    opacity: 0.15

.welcome-section
  height: 100vh
  &:before
    background: url("../../images/welcome-bg.png") 50% 50% no-repeat
    background-size: cover
.top-header
  display: flex
  justify-content: space-between
  align-items: center
  img
    height: 50px
    width: 140px
  h1
    display: inline-block
    text-indent: -9999px
.header-nav
  text-transform: uppercase
  font: 13px "Roboto Black", sans-serif
  ul
    display: flex
    li
      margin-right: 15px
.welcome-info-center
  height: 100%
  display: flex
  align-items: center
  .welcome-info
    h2
      font: 32px "PlayfairDisplayBlack", sans-serif

.main-footer
  padding: 70px 0

  height: 400px
  &:before
    background: url("../../images/footer-bg.png") 50% 0 no-repeat
    background-size: cover
  .top-footer
    text-align: left
    display: flex
    justify-content: space-between
    //align-items: flex-start
  .bottom-footer
    display: flex
    justify-content: space-between

.logo, .our-studio, .stay-in-touch
  width: 320px
